



/* navbar start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;

}

#navbar {
    background-color: #ffffffbe;
}

#logo {
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin: bottom 5px;

}

#logo span {
    color: red;
}

.navbar-toggler span {
    color: red;
}

.navbar-nav {
    margin-left: 20px;
}

.nav-item .nav-link {

    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5 ease;
}

.nav-item .nav-link:hover {
    background-color: red;
}

#navbar form button {
    background: red;
    color: white;
    border: none;
}

/* navbar end */







/* home section */
.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://png.pngtree.com/background/20230410/original/pngtree-travel-around-the-world-background-picture-image_2385120.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   

}

.home .content {
    text-align: center;
    padding-top: 200px;
}

.home .content h5 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}

.home .content h1 {
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

.changecontent::after {
    content: ' ';
    color: red;
    text-shadow: 0px 1px 1px black;
    animation: changetxt 10s infinite linear;

}

@keyframes changetxt {
    0% {
        content: "Delhi";
    }

    10% {
        content: "Mumbai";
    }

    20% {
        content: "Nagpur";
    }

    30% {
        content: "Lonavala";
    }

    40% {
        content: "Manali";
    }

    50% {
        content: "Ladakh";
    }

    60% {
        content: "Agra";
    }

    70% {
        content: "Goa";
    }

    80% {
        content: "Kerala";
    }

    100% {
        content: "Varanasi";
    }

}

.home .content p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
    margin-bottom: 30px;

}

.home .content a {
    padding: 10px;
    background: white;
    color: red;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.home .content a:hover {
    background: black;
    color: #f9f9f9;

}

@media (max-width:850px) {
    .home {
        background-position: 50%;
    }
}

@media (max-width:450px) {
    .home .content h5 {
        font-size: 25px;
    }

    .home .content h1 {
        font-size: 38px;
    }

    .home .content p {
        font-size: 13px;
    }
}

/* home section */







/* Section Book Start */

.book {


    background: #f9f9f9;
    padding: 50px
    
}

.fo input {
    margin: 1rem 0;

}

.main-text h1 {
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}

.main-text h1 span {
    color: red;
}

.book .card {
    border-radius: 10px;
    box-shadow: 0px 5px -6px black;
}

.book .row {
    margin-top: 30px;
}

.book form input {
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px -6px black;
}

.book form textarea {
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px -6px black;
    height: 200px;
}

.book .submit {
    width: 100px;
    font-size: 16px;
    font-weight: 550;
    background: red;
    margin-top: 10px;
    transition: 0.5s;
}

.submit:hover {
    width: 160px;
    ;
}

@media (max-width:760px) {
    .book {
        padding: 0px;
    }

    .main-text h1 {
        padding: 20px;
    }
}

/* Section Book End */









/* section packages start */


.main-txt h1 {
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}

.main-txt h1 span {
    color: red;
}

.packages .card {
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.packages .card img {
    border-radius: 5px;

}

.packages .card .card-body {
    background: transparent;
}

.packages .card .card-body h3 {
    font-style: 25px;
    font-weight: 600;
}

.packages .card .card-body p {
    font-style: 15px;
}

.checked {
    color: #ffa500;
}

.star i {
    font-style: 15px;
}

.packages .card .card-body h6 {
    font-style: 20px;
}

.packages .card .card-body a {
    padding: 10px;
    text-decoration: none;
    background: red;
    color: black;
    border-radius: 5px;
}



/* section packages end */










/* section service start */

.services {
    
    background: #f9f9f9;
    margin-top: 50px;

}

.services .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}

.services .card i {
    font-size: 80px;
    color: red;
    margin-top: 20px;
    text-align: center;
}
.services .card .card-body h3{
    font-weight: 600;


}

.services .card .card-body{
    text-align: center;
}



/* section service end */







/* section gallary start */


.gallary{
    margin-top: 50px;
}
.gallary .card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    cursor: pointer;

}

.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}


/* section gallary end */











/* section ABOUT start */

.about{
    padding: 50px;
    margin-top: 50px;
    background: #f9f9f9;
}

.about .card{
    border-radius: 10px;
}
.about .card .img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter: spacing 1px;;
}
.about p{
    font-weight: 500;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: red;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}

#about-btn:hover{
    width: 170px;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }

}
/* section ABOUT end */









/* Footer start */

#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow:0px 0px 1px black ;

}
#footer h1 span{
    color: red;
}
.social-links i{
     padding: 10px;
     border-radius: 5px;
     font-size: 20px;
     background: black;
     color: white;
     margin-left: 10px;
     margin-bottom: 10px;
transition: 0.5s ease;
cursor: pointer;
}
.social-links i:hover{
    background: red;
}

/* Footer end */